config/dev.yml
config/private.yml
config/final.yml
releases/*.tgz
releases/**/*.tgz
dev_releases
publish-release.sh
.blobs
blobs
.dev_builds
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.downloads
.temp
*.swp
*~
*#
#*

